.content {
    font-size: 40px;
    text-align: center;
    margin: 6pc;
    padding: auto;
    background-color: indigo;
}
#intro {
    text-align: center;
}
.background {
    color: whitesmoke;
    font-size: 20px;
    margin: 6pc;
    font-style: oblique;
}
.centre {
    text-align: center;
    font-size: 30px;
}
@media (max-width:789) {
    a{
        font-size: 20px;
    }
}