.italics {
    font-style: italic;
}
.margin {
    margin: 2pc;
}
#background {
    background-color: aquamarine;
    font-size: 20px;
    margin: 6pc;
    font-style: oblique;
}
.centre {
    text-align: center;
    font-size: 30px;
}